.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  width: 88%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border 0.3s ease-in-out;
}

.input:focus {
  border-color: #2ecc71;
  outline: none;
}